<template>


    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 wrap">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-20 p-6 turnir-wrap">
                <h2 class="turnir-name">Турнир № {{ turnirId }}</h2>
                <div class="generator-buttons">
                    <button data-type="A" @click="generateDivision" v-if="!Object.keys(groupA).length">
                        Сгенерировать дивизион А
                    </button>
                    <button data-type="B" @click="generateDivision" v-if="!Object.keys(groupB).length && Object.keys(groupA).length">
                        Сгенерировать дивизион B
                    </button>
                    <button type="button" @click="generatePlayOffGames" v-if="!Object.keys(playOff).length && Object.keys(groupB).length">
                        Сгенерировать плей-офф матч
                    </button>
                    <button @click="generateTurnir" v-if="turnirDone || Object.keys(playOff).length">Сгенерировать новый турнир</button>
                </div>
            </div>
        </div>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 wrap">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-20 p-6 division" v-if="Object.keys(groupA).length">
                <h2 class="divisions-name">Дивизион A</h2>
                <table>
                    <thead>
                    <tr>
                        <td>Teams</td>
                        <td v-for="division in groupA">
                            {{ division.teams.team_name }}
                        </td>
                        <td>Score</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(division,index) in groupA">
                        <td>{{ division.teams.team_name}}</td>
                        <td v-for="n in 8" v-bind:style="[ n == index+1 ? 'background: gray;' : '']">
                            <div v-if="division.game">
                                {{ division.game[groupA[n-1].teams_id] }}
                            </div>
                        </td>
                        <td>{{ division.score }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-20 p-6 division" v-if="Object.keys(groupB).length">
                <h2 class="divisions-name">Дивизион B</h2>
                <table>
                    <thead>
                    <tr>
                        <td>Teams</td>
                        <td v-for="division in groupB">
                            {{ division.teams.team_name }}
                        </td>
                        <td>Score</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(division,index) in groupB">
                        <td>{{ division.teams.team_name}}</td>
                        <td v-for="n in 8" v-bind:style="[ n == index+1 ? 'background: gray;' : '']">
                            <div v-if="division.game">
                                {{ division.game[groupB[n-1].teams_id] }}
                            </div>
                        </td>
                        <td>{{ division.score }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 wrap" v-if="Object.keys(playOff).length">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-20 p-6 playoff">
                <table class="playoff_teams">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Semi-final</td>
                            <td>Final</td>
                            <td>Result</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="game_wrap">
                                    <div class="game" v-for="teams in playOff.teams">
                                        <ul>
                                            <li>{{ teams.team_1 }}</li>
                                            <li>{{ teams.team_2 }}</li>
                                        </ul>
                                        <div>{{ teams.score }}</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="game_wrap">
                                    <div class="game" v-for="team in playOff.semi_final">
                                        <ul>
                                            <li>{{ team.team_1 }}</li>
                                            <li>{{ team.team_2 }}</li>
                                        </ul>
                                        <div>{{ team.score }}</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="game_wrap">
                                    <div class="game game-final">
                                        <ul>
                                            <li>{{ playOff.final.team_1 }}</li>
                                            <li>{{ playOff.final.team_2 }}</li>
                                        </ul>
                                        <div>{{ playOff.final.score }}</div>
                                    </div>
                                    <div class="game game-losers">
                                        <ul>
                                            <li>{{ playOff.losers.team_1 }}</li>
                                            <li>{{ playOff.losers.team_2 }}</li>
                                        </ul>
                                        <div>{{ playOff.losers.score }}</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul>
                                    <li v-for="(team,index) in playOffResults">
                                        <span>{{ index+1 }}</span> Team - {{ team.teams.team_name }}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import Button from "../Jetstream/Button";
export default {
    name: "Turnir",
    components: {Button},
    props: ['divisionsA','divisionsB','turnirId','final','playOffResults'],
    data() {
        return {
            groupA: this.divisionsA,
            groupB: this.divisionsB,
            playOff: this.final,
            turnirId: this.turnirId,
            turnirDone: false,
            playOffResults: this.playOffResults
        }
    },
    methods: {
        generateGame(event) {
            let divisionType = event.target.getAttribute('data-type')
            let data = {
                type: divisionType,
                turnir_id: this.turnirId,
            }
            axios.post('generateGames', data).then(res => {
                if (divisionType == 'A') {
                    this.groupA = res.data;
                } else {
                    this.groupB = res.data;
                }
            })
        },
        generateDivision(event) {
            let divisionType = event.target.getAttribute('data-type')
            let data = {
                type: divisionType,
                turnir_id: this.turnirId,
            }
            axios.post('generateDivision', data).then(res => {
                if (divisionType == 'A') {
                    this.groupA = res.data;
                } else {
                    this.groupB = res.data;
                }
            })
        },
        generatePlayOffGames() {
            axios.post('generatePlayOffGames', {turnir_id: this.turnirId}).then(res => {
                this.playOff = res.data
                this.playOffResults = res.data.results
                this.turnirDone = true
            })
        },
        generateTurnir() {
            axios.post('generateTurnir', {turnir_id: this.turnirId}).then(res => {
                this.turnirId = res.data
                this.turnirDone = false
                this.groupA = {}
                this.groupB = {}
                this.playOff = {}
            })
        }
    }
}
</script>

<style scoped>

.wrap {
    display: flex;
    justify-content: center;
    max-width: 90rem;
}
.wrap .division {
    padding: 10px;
    margin: 10px;
}
.wrap .playoff {
    display: flex;
    justify-content: center;
    width: 100%;
}
.playoff_teams {
    width: 70%;
}
.playoff_teams thead tr {
    border-bottom: 1px solid;
    text-align: center;
}
.playoff_teams .game_wrap {
    padding: 0 35px;
}
.playoff_teams .game_wrap .game {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}
.playoff_teams .game_wrap .game-final {
    background: #d1ecd1;
}
.playoff_teams .game_wrap .game-losers {
    background: #fcfee8;
    margin-right: 25px;
}
.playoff_teams .game_wrap .game ul {
    margin-right: 15px;
}
.playoff_teams .game_wrap .game ul li {
    padding: 2px 0;
}
.playoff_teams .game_wrap .game ul li:first-child {
    border-bottom: 1px solid;
}

td {
    border: 1px solid;
}

.turnir-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}
.turnir-name,
.divisions-name {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px;
    font-weight: bold;
    text-align: center;
}

.generator-buttons button {
    border: 1px solid #36803f;
    background: #c4eac3;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 5px 10px;
}
</style>
